*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;
}
#root{
  min-height: 100vh;
  position: relative;
}
body{
  background-color: white;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
#buttons{
  float: left;
  width: 100px;
  margin: 0 2rem 0 1rem;
}
#options{
  background-color: #F5F5F5;
  border-radius: 5px;
  height: 100%;
  float: left;
  /* margin-left: 0rem; */
  width: 0px;
  overflow: hidden;
  /* padding-top: 1rem; */
  /* padding: 1rem; */
  transition: width 0.7s, padding 0.7s, margin 0.7s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.active{
  /* padding: 1rem; */
  margin-left: 1rem;
  margin-right: 1rem;
  width: 400px !important;
}
#results{
  /* position: relative; */
  background-color: #F5F5F5;
  border-radius: 5px;
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainer{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin: 1rem;
  /* align-items: center; */
  /* flex-direction: column; */
}